# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.PBandJ.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Code\Very Exploratory\PBandJ\.idea\.idea.PBandJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
